<div>
  <div>
    <h1><strong>Bienvenido a Top Way</strong></h1>
    <h1><strong>INICIE SESIÓN</strong></h1>
  </div>

  <form>
    <h3>INFORMACIÓN PERSONAL</h3>
    <div>

        <label>Nombres y apellidos</label>
        <input type="text">
        <p>Este campo es obligatorio</p>

    </div>


      <label>Distrito</label>
      <select>
        <option value="San_Borja">San Borja</option>
        <option value="MNiraflores">Miraflores</option>
        <option value="Los_Olivos">Los Olivos</option>
        <option value="San_Miguel">San Miguel</option>
        <option value="San_Juan_de_Lurigancho"> San Juan de Lurigancho</option>
      </select>


    <br>
    <h3>SEGURIDAD</h3>
    <div>

        <label>Email</label>
        <input type="email">
        <p>Este campo es obligatorio</p>
        <p>Este campo debe ser un correo con @</p>

    </div>

    <div>

        <label>Contraseña</label>
        <input type="text">
        <p>Este campo es obligatorio</p>
        <p>Debe tener los caracteres de la (A-Z), (a-z) y (0-9)</p>
        <p>Debe tener por lo menos 5 caracteres</p>

    </div>



    <br><br>

    <div>
      <button type="submit">REGISTRARSE</button>
      <p>Para continuar, deberá aceptar nuestra política de privacidad & terminos del servicio</p>
    </div>
  </form>
</div>

