.container-button{
    width: 20%;
    margin-left: 2%;
    display: flex;
    justify-content: space-between ;
}

.container-button button{
     box-shadow: none; 
}

.navbar{
    width: 100%;
    height: 7vh;
}