<h1 mat-dialog-title style="text-align: center; margin-top: 2%;">log in</h1>
<div  class="container">
  <div class="container-form" mat-card-content>
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email*">
        <mat-error>
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password" [type]="passwordType">
        <mat-error>
          Password is <strong>required</strong>
        </mat-error>
        <button matSuffix type="button" mat-icon-button>
          <mat-icon (click)="togglePassword()">{{passwordShown ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>

    </form>
  </div>
  <div class="botton-form">
    <button mat-raised-button color="primary" (click)="signIn()">Sign In</button>
  </div>
</div>