<div class="loginContent">
  <div class="loginContent__Title">
    <h1><strong>Bienvenido a Top Way</strong></h1>
    <h1><strong>INICIE SESIÓN</strong></h1>
    <img src="assets/logo.png" alt="Logo" title="Logo" />
  </div>
  <form class="loginContent__form">
    <h3 style="color: white; font-size: 20px; font-weight: 500">Inicie sesión</h3>
    <div>
      <mat-form-field appearance="fill" class="loginContent__form__email">
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="passwordType">
        <button matSuffix type="button" mat-icon-button>
          <mat-icon (click)="togglePassword()">{{passwordShown ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
      <p class="loginContent__submit__text">Si aun no es usuario registrate <a style="color: black; "><strong class="loginContent__submit__text--cursor" (click)="browse('register')">Aqui</strong></a></p>
    </div>
  </form>
</div>

