<div class="container">
  <div class="seccion1">

  </div>
      <div class="seccion2">
       <img src="{{ climbingGymData.logo_url }}" alt="" />
    <h2></h2>
    <mat-tab-group>
      <mat-tab label="Gallery">
        <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let gymImages of images | objectToArray">
            <img src="{{ gymImages }}" alt=""
          /></mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Description">
        <div>
          <p>Entry price: S/.{{ climbingGymFeature.price }}</p>
          <p>Rock price: {{ climbingGymFeature.rock_type }}</p>

          <p>Number of routes: {{ climbingGymFeature.n_routes }}</p>
          <p>Max height: {{ climbingGymFeature.max_height }} meters</p>
          <p>
            Bolting:
            <span
              *ngFor="
                let bolting of climbingGymFeature.bolting;
                last as Last;
                index as Index
              "
            >
              <span *ngIf="Index">,</span>
              {{ bolting }}
              <span *ngIf="Last">.</span>
            </span>
          </p>
        </div></mat-tab
      >
      <mat-tab label="Office hours">
        <div>
          <p>Days of week: {{ climbingGymFeature.days_week }}</p>
          <p>Hours: {{ climbingGymFeature.office_hours }}</p>
        </div></mat-tab
      >
      <mat-tab label="Comments"> <p>Making this functionality :)</p> </mat-tab>
    </mat-tab-group> 
  </div>
  <div class="seccion3">

  </div>
</div>
