p{
  color: #8A919A;
}
h2{
  color: #435162;
}

.example-card {
  max-width: 400px;
}

.container{
    width: 100%;
    height: 92vh;
    display: flex;
}
.seccion1{
    width: 25%;
    border: 1px solid red;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seccion2{
    width: 50%;
    border: 1px solid red;
    height: 100%;
    overflow: auto;
}
.seccion3{
    width: 25%;
    border: 1px solid red;
    height: 100%;
}

.title_new{
  color: black;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.img-new{
  width: 100%;
  height: 100%;
}

.div_img_new{
  max-width: 300px;
  text-align: center;
  display:flex;
  align-items: center; 
  flex-direction: column;
  background-color: #cccfd2;
  margin-bottom: 2em;
border-radius: 13px;
}
.img_new{
  width: 50%;
  height: 50%;
}