<div class="container">
  <div class="seccion1">
    <h1 class="title_new">News Section</h1>

    <mat-card class="div_img_new" *ngFor="let data of climbingGymNew_news">
      <mat-card-header>
        <mat-card-title>{{ data.title }}</mat-card-title>
        <mat-card-subtitle>{{ data.date }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="img-new"
        mat-card-image
        src="{{ data.url_photo }}"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p style="color: black">
          {{ data.description }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="seccion2">
    <div class="seccion2_profile">
      <div class="img_logo">
        <img src="{{ climbingGymData.logo_url }}" alt="" />
      </div>
      <h2>{{ climbingGymData.name }}</h2>
    </div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Gallery">
        <mat-grid-list class="space" cols="2" rowHeight="2:1">
          <mat-grid-tile *ngFor="let gymImages of images | objectToArray">
            <img src="{{ gymImages }}" alt=""
          /></mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Description">
        <div class="space">
          <p>
            <span class="data">Entry price:</span> S/.{{
              climbingGymFeature.price
            }}
          </p>
          <p>
            <span class="data">Rock price:</span>
            {{ climbingGymFeature.rock_type }}
          </p>

          <p>
            <span class="data">Number of routes:</span>
            {{ climbingGymFeature.n_routes }}
          </p>
          <p>
            <span class="data">Max height: </span
            >{{ climbingGymFeature.max_height }} meters
          </p>
          <p>
            <span class="data">Bolting: </span>
            <span
              *ngFor="
                let bolting of climbingGymFeature.bolting;
                last as Last;
                index as Index
              "
              ><span *ngIf="Index">,</span> {{ bolting
              }}<span *ngIf="Last">.</span></span
            >
          </p>
        </div></mat-tab
      >
      <mat-tab label="Office hours">
        <div class="space">
          <p>
            <span class="data">Days of week:</span>
            {{ climbingGymFeature.days_week }}
          </p>
          <p>
            <span class="data">Hours:</span>
            {{ climbingGymFeature.office_hours }}
          </p>
        </div></mat-tab
      >
      <mat-tab label="Comments">
        <div class="space">
          <p>Making this functionality :)</p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="seccion3">
    <h1 class="title_new">Ranking Section</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="district">
      <th mat-header-cell *matHeaderCellDef> District </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef> Score </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  </div>
</div>
