.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.seccion1{
    width: 25%;
    border: 1px solid red;
    height: 100vh;
}
.seccion2{
    width: 50%;
    border: 1px solid red;
    height: 100vh;
}
.seccion3{
    width: 25%;
    border: 1px solid red;
    height: 100vh;
}
