<div>
  <div>
    <img src="{{ climbingGymData.logo_url }}" alt="" />
    <h2></h2>
    <mat-tab-group>
      <mat-tab label="Gallery"><img src="" alt="" /> </mat-tab>
      <mat-tab label="Description">
        <div>
          <p>Entry price: {{ climbingGymData.id }}</p>
          <p>Rock price: {{ climbingGymFeature.price }}</p>

          <p>Number of routes:</p>
          <p>Max height:</p>
          <p>Bolting:</p>
        </div></mat-tab
      >
      <mat-tab label="Office hours">
        <div>
          <p>Days of week:</p>
          <p>Hours:</p>
        </div></mat-tab
      >
      <mat-tab label="Comments"> <p>Making this functionality :)</p> </mat-tab>
    </mat-tab-group>
  </div>
</div>
