<mat-card id="section_newleague">
  <h1>New League</h1>
  <p>Enter your new league information</p>
  <form [formGroup]="newLeagueForm" (ngSubmit)="addLeague(newLeagueForm.value)">
    <div class="inputs">
      <mat-form-field appearance="outline">
        <mat-label>League Name</mat-label>
        <input matInput placeholder="" formControlName="leagueName" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Url Photo</mat-label>
        <input matInput placeholder="" formControlName="urlPhoto" />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description (optional)</mat-label>
        <input matInput placeholder="" formControlName="description" />
      </mat-form-field>
    </div>

    <mat-card-actions align="end">
      <button
        mat-button
        style="margin-left: 8px"
        mat-raised-button
        color="primary"
        (click)="myleague(name, id)"
        type="submit"
        [disabled]="!newLeagueForm.valid"
      >
        Create League
      </button>
    </mat-card-actions>
  </form>
</mat-card>
